:host {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}

mat-card {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}

mat-card > * + * {
  margin-inline-start: 20px;
}
