/* You can add global styles to this file, and also import other style files */
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

div.cesium-viewer-bottom {
  display: none;
}
